<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Category</title>
  </head>
  <body>
    <h1>Add a Category</h1>
    <%- include('partials/errors.ejs') %>
    <form action="/categories/add" method="post">
      <label for="name">Category name: </label>
      <input type="text" id="name" name="name" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
