<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="categories.css" />
  </head>
  <body>
    <h1>Categories</h1>
    <div class="categories">
      <% categories.forEach(category => { %>
      <div class="category">
        <div class="cat-header">
          <h2><%= category.category %></h2>
          <form action="/categories/<%=category.id%>/delete" method="post">
            <button type="submit" class="delete-cat">X</button>
          </form>
        </div>
        <div class="items">
          <% if(category.items.length === 0) { %>
          <p class="no-items">No items</p>
          <% } else { %>
          <div class="items">
            <% category.items.forEach(item => { %>
            <p><%= item.name %></p>
            <% }) %>
          </div>
          <% } %>
        </div>
      </div>
      <% }) %>
      <a href="/categories/add"
        ><button class="add-category">Add Category</button></a
      >
    </div>
  </body>
</html>
