<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Items</title>
    <link rel="stylesheet" href="items.css" />
  </head>
  <body>
    <h1>Items</h1>
    <div class="items">
      <% items.forEach(item => { %>
      <div class="item">
        <p class="itemName"><%= item.item %></p>
        <div class="buttons">
          <a href="/items/<%=item.id%>/modify"><button>Change</button></a>
          <form action="/items/<%=item.id%>/delete" method="post">
            <button type="submit">Delete</button>
          </form>
        </div>
        <p class="category"><%= item.category %></p>
      </div>
      <% }); %>
    </div>
    <a href="/items/add" class="add-button"><button>Add Item</button></a>
  </body>
</html>
